In [3]:
## Variables Primitivas
entero = 3
decimal = 1.1
nombre = "Kevin"
segundo_nombre = 'Canacuan'
casado = False
profesor = False
hijos = None
print(type(entero))  # int
print(type(decimal))  # float
print(type(nombre))  # str
print(type(segundo_nombre))  # str
print(type(casado))  # boolean
print(type(profesor))  # boolean
print(type(hijos))  # NoneType

texto = """asdasdasdsa
asdasasd dsa d asdas da
dasa sd asd as dsdasdasdas das da sd as d
das das d as das das das d asd asd as da 
"""

print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print(entero)




# Condicion (Boolean)
# Truty
# Falsy
tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))  # tuple
print(type(listas))  #  list
print(type(diccionario))  # dict

if(""):  # Falsy 
    print("Truty")
else:
    print("Falsy")

if("a"):  # Truty 
    print("Truty")
else:
    print("Falsy")

if(0):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")

if(1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")

if(None):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(()):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")

if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy")


if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")

if({nombre:"Adrian"}):  # Truty
    print("Truty")
else:
    print("Falsy")

arreglo = [1,2,3,4,5,6,7,8,9,0]

print (7 in arreglo)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
3
Kevin
<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty
True

In [2]:
print (type (7 in arreglo))

<class 'bool'>

In [3]:
len(arreglo)

10

In [4]:
arreglo.append(11)
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [5]:
arreglo.pop()

11

In [6]:
arreglo.insert(1, 1.1)

In [7]:
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [12]:
for numero in arreglo:
    print(numero)

contador = 0
while contador < 9:
    print(contador)
    contador += 1

1
1.1
2
3
4
5
6
7
8
9
0
0
1
2
3
4
5
6
7
8

In [9]:
tupla_numeros = (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [14]:
tupla_numeros[2]
len(tupla_numeros)
3 in tupla_numeros

kevin = {
    12123: "Kevin",
    None: None,
    False: False,
    "apellido": 'Canacuan',
    'edad': 30,
    'sueldo':1.23,
    "mascotas": [ { nombre: "jack" } ],
}
kevin

{12123: 'Kevin',
 None: None,
 False: False,
 'apellido': 'Canacuan',
 'edad': 30,
 'sueldo': 1.23,
 'mascotas': [{'Kevin': 'jack'}]}

kevin = {
    123: "Kevin",
    None: None,
    False: False,
    "apellido": 'Canacuan',
    'edad': 30,
    'sueldo': 1.1,
    "mascotas": [ { nombre: "jack" } ],
}

kevin

In [17]:
kevin["apellido"] = "Pasquel"
kevin["apellido"]

kevin.keys()
kevin.values()
"apellido" in kevin.keys()
"apellido" in kevin.values()


1 == 1 or 2 == 3  # True
1 == 1 and 2 == 3  # False

False